
<%= form_with url: "/auth/#{@provider}/callback", method: :post, id:'form1' do |form| %>
<% end %>

<script type="text/javascript">
function toss()
{
    "use strict";

    let formElm = document.querySelector("#form1");
    //let formData = new FormData(formElm); これではフォームの修正にならない

    // First, parse the query string
    var postBody = location.hash.substring(1);
    var regex = /([^&=]+)=([^&]*)/g;
    var m;
    while (m = regex.exec(postBody)) {
        //formData.append(decodeURIComponent(m[1]), decodeURIComponent(m[2]));
        let i = document.createElement('input');
        i.name = decodeURIComponent(m[1]);
        i.value = decodeURIComponent(m[2]);
        formElm.appendChild(i);
    }

    formElm.submit();
}

toss();
</script>

