<!DOCTYPE html>
<html>
  <head>
    <title>OmniAuth RP Sample</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'  %>
    <%= javascript_pack_tag 'application' %>
  </head>

<body>

<div style="background-color:#dddddd">
<% if current_user %>    
  現在のユーザ: <%= current_user.name %>
  <%= link_to "ログアウト", "/session", method: :delete %>
<% end %>
</div>

<% flash.each do |message_type, message| %>
  <div style="background-color:#ddffdd"><%= message %></div>
<% end %>
    
  <%= yield %>
</body>
</html>
